.categoria {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 20px;
    text-align: center;
    transition: transform 0.3s ease-in-out;
}

.categoria:hover {
    transform: scale(1.1);
}

.categoria-titulo {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.categoria-imagem {
    max-width: 100%;
    height: auto;
}
