* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    overflow: hidden;
}

.full-screen {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
}

.animation-text {
    text-align: center;
    color: #fff;
    opacity: 0;
    animation: fade-in-text 8s forwards;
}

.cta-button {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    background-color: #EC3053;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 18px;
    cursor: pointer;
    animation: fade-in-button 8s forwards;
}

.cta-button:hover {
    background-color: #ff9bac;
}

.animation {
    animation: pulse 8s infinite;
}

@keyframes fade-in-text {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fade-in-button {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fade-in-button-hover {
    from {
        opacity: 1;
    }

    to {
        opacity: 0.8;
    }
}