:root {
    background-color: white;
    box-sizing: border-box;
  }

body {
    margin: 0px;
    font-family: sans-serif;
    color: black;
    
}

h2, h3, p {
    margin: 0px;
}

h4 {
    margin: 20px;
}

ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
    
}

img {
    max-width: 100%;
    display: block;
}

